body {
    background-color: #0e9992;
}

main {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    min-height: calc(100vh - 60px);
    border-radius: 20px;
    background: url(1.jpg) no-repeat 50% 110%;
    background-color: white;
}

h1 {
    font-family: "Segoe UI Light", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-top: 0;
    font-size: 50px;
    text-align: center;
    color: rgba(173,38,164,0.67);
}

.error {
    color: rgba(173,30,24,0.88);
}

.orders {
    margin: 20px 0;
}
.sendForm{
    background-color: green;
    width: 180px;
    height: 40px;
    border-radius: 10px;
}
.throwOffForm{
    background-color: red;
    width: 180px;
    height: 40px;
    border-radius: 10px;
}